.about {
	color: white;
	height:600px;
	width: 100%;
	position: absolute;
	background-color: rgb(72,42,122);
	top: 1900px;
	margin-left: 0px;
}

.text3 {
	margin-top: 200px;
	margin-left: 100px;
}

.text4 {
	font-family: 'Raleway', sans-serif;
	margin-left: 100px;
	font-size: 35px;
}