.contact {
	color: rgb(72,42,122);
	height: 400px;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 2500px;
	margin-left: 0;
}

.half {
	height: 100%;
	width: 50%;
	float: left;
	font-family: 'Raleway', sans-serif;

}

.form {
	margin-top: 80px;
	text-align: center;
	margin-left: -60px;

}

.input {
	margin-top: 5px;
	height: 20px;
	width: 70%;
	font-size: 15px;
	color: rgb(72,42,122);
	font-family: 'Raleway', sans-serif;
}

.textarea {
	margin-top: 5px;
	height: 100px;
	width: 70%;
	font-size: 15px;
	color: rgb(72,42,122);
	resize:none;
	font-family: 'Raleway', sans-serif;
}

.submit {
	font-size: 15px;
	background-color: rgb(72,42,122);
	font-style: oblique;
	color: white;
	border: none;
	height: 30px;
	width: 70px;
	margin-left: 290px;
	margin-top: 15px;
}

.touch {
	margin-top: 50px;
	margin-left: 50px;
	font-weight: bold;
	font-size: 15px;
}

.contactSign{
	margin-top: -3px;
	margin-left: 55px;
	font-size: 30px;
}

.address {
	margin-top: -20px;
	margin-left: 55px;
	font-size: 13px;
}
.copyright {
	margin-left: 55px;
	margin-top: 120px;
	font-size: 13px;
}